<div class="page">
  <div class="title"><%= page.title %></div>
<br /><a href=javascript:history.go(-1);><i class="fa fa-angle-left" aria-hidden="true"> 返回</i></a></div>
  <div class="content markdown-body"><%- page.content %></div>
</div>
  <div class="markdown-body">
<%- partial('_others/pl') %>